body{
  font-family: 'Nunito', sans-serif;
}

.container, .container-fluid{
  padding-top: 20px;
  padding-bottom: 10px;
}
.container  > h1, .container-fluid > h1{
  padding-top: 40px;
  text-align: center;
}

.navbar-brand strong{
  color: var(--primary);
}

footer{
  color: #DDD;
  background: var(--dark);
}
footer .contacts ul{
  list-style: none;
  padding: 0;
}
footer .contacts ul li{
  word-wrap: break-word;
}
footer .follow{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .follow ul{
  list-style: none;
  display: flex;
  padding: 0;
}
footer .follow ul li{
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #999;
  color: #000;
}


/* Additionnals */
.super{
    z-index: 2000 !important;
}
.cursor-denied{
    cursor: not-allowed;
}
/* Loader */
.loader-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.8);
    z-index: 2;
}
.loader-content .circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
}

.loader
{
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 5px solid #bcd9ee;
    border-top: 5px solid #1073ff;
    border-radius: 50%;
    animation: rotate .5s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}

