.car{
    padding: 0 15px;
}

.card{
    color: #333;
    text-decoration: none;
}
.card:hover{
    text-decoration: none;
    color: #333;
}
.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
.card .rating .stars{
    color: orange;
    text-shadow: 1px 1px 0 black;
}
.left-menu{
    top: 70px;
}
