.slider {
  position: relative;
  height: 600px;
  overflow: hidden;
  width: 100%;
  background: #777777;
}
.slider .slider-content {
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s .5s;
}
.slider .slider-content img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: bottom;
  object-fit: cover;
}
.slider .slider-content .slider-link {
  padding: 5px 20px;
  text-decoration: none;
  color: #FFFFFF;
  background: rgba(58, 205, 133, 0.5);
  position: absolute;
  bottom: 15px;
  right: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.slider .slider-active {
  opacity: 1;
  transition: all 0.5s;
}
.slider .slider-count {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  margin: 0;
  list-style-type: none;
  background: rgba(0,0,0,.4);
}
.slider .slider-count li {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0 1%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.slider .slider-count .active {
  background: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 765px){
  .slider{
    height: 250px;
  }
}
